.App {
}

.split-container {
  display: flex;
}

.pod-container {
  flex: 1;
}

.pod-tracks-container {
  flex: 1;
}

.pod-item {
  display: flex;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  flex: 1;
}

.pod-item:nth-child(2n) {
  background: #ddd;
}

.pod-item-img {
  height: 100px;
  margin-right: 10px;
}

.pod-item-title {
  color: black;
}

.track-image {
  height: 80px;
  margin-right: 10px;
}

.track-container {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
}

.track-title {
  font-size: 14px;
  font-weight: bold;
}

.track-description {
  font-size: 12px;
  text-overflow: ellipsis;
  max-height: 40px;
}
