.container {
    margin: 20px;
}

.details-container {
    display: flex;
}

.image {
    height: 200px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 20px;
}

.description {
    font-size: 16px;
    margin-left: 20px;
}

.controls {
    padding: 30px;
}

.control {
    height: 40px;
    width: 180px;
    margin: 10px;
    background: black;
    color: white;
    font-size: 16px;
}
